@charset "UFT-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 230, 236);
}

* {
    margin: 0px;
    padding: 0px;
}

div.inicio {
    background-color: #6dcca4;
    height: 250px;
}

div> img {
    padding: 15px 0px 0px 15px;
    float: left;
    display: block;
}

div > p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    float: left;
    padding: 50px 0px 0px 10px;
}

main {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    width: 900px;
    margin: auto;
    display: block;
    box-shadow: 0px 7px 20px 0px rgb(0 0 0 / 51%);
}

main > img {
    float: right;
    margin: 50px;
    width: 35%;
    display: block;
}

main > p {
    margin: 30px 30px 30px 50px;
    color: gray;
}

h1 {
   padding: 50px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: lighter;
}

article {
    background-color: rgb(248, 247, 247);
    display: block;
    margin-bottom: 80px;
    margin-top: 100px;
    border-radius: 0px 0px 5px 5px;
}

article > h2 {
    padding-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: rgb(104, 104, 104);
}

article > p > a {
    text-align: center;
    padding: 20px 50px 50px 40%;
    text-decoration: none;
    color: #2f8863;
    font-size: medium;
    font-size: 13px;
}

div.video {
    position: relative;
    padding: 2% 20% 5% 20%;
    display: block;
}

